name: "Release"

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build & Zip Chrome
        run: npm run zip

      - name: Build & Zip Firefox
        run: npm run zip:firefox

      - name: Build & Zip Edge
        run: npx wxt zip -b edge

      - name: Build & Zip Safari
        run: npx wxt zip -b safari

      - name: Release to GitHub
        uses: softprops/action-gh-release@v1
        with:
          files: |
            .output/*.zip
          generate_release_notes: true
